.school {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.work {
    -fx-background-color: pink;
    -fx-text-fill: white;
}

.other {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: dimgray;
    -fx-background-radius: 30;
    -fx-background-inset: 0;
    -fx-border-color: black;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: lightgrey;
}

.button:pressed {
    -fx-background-color: lightblue;
}

.background{
     -fx-background-color: #292929;
}

.pdf_view{
     -fx-background-color: #AFEEEE;
}

.notes_view{
     -fx-background-color: #B0E0E6;
}

.flashcard_view{
     -fx-background-color: #87CEEB;
}

.menu_view{
     -fx-background-color: #ADD8E6;
}

.imageview{
     -fx-blend-mode: multiply;
}


.text{
    -fx-fill: white;
}

.choice-box {
    -fx-background-color: dimgray;
    -fx-border-color: black;
    -fx-text-fill: black;
}

.choice-box .menu-item{
    -fx-background-color: dimgrey;
}

.choice-box .menu-item:focused{
    -fx-background-color: orange;
}

.list-cell {
    -fx-background-color: dimgrey;
}

.list-cell:filled:hover{
    -fx-background-color: orange;
}

.choice-box:hover  {
    -fx-background-color: lightgrey;
    -fx-border-color: black;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: dimgray;
    -fx-border-color: black;
}

.text-field:hover {
    -fx-background-color: lightgrey;
}

.text-area{
    -fx-background-color: dimgray;
    -fx-border-color: black;
    -fx-text-fill: white;
}
.text-area .content{
    -fx-background-color: #282c34;
}

.menu-bar{
    -fx-background-color: dimgray;
    -fx-border-color: black;
}

.menu:hover{
    -fx-background-color: orange;
}

.menu-bar .menu-item{
    -fx-background-color: dimgray;
}

.menu-bar .menu:focused{
    -fx-background-color: orange;
}

.menu-bar .menu-item:focused{
    -fx-background-color: orange;
}
