.school {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.work {
    -fx-background-color: pink;
    -fx-text-fill: white;
}

.other {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: dimgray;
    -fx-border-color: black;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: lightgrey;
}

.button:pressed {
    -fx-background-color: lightblue;
}

.background{
     -fx-background-color: #292929;
}

.pdf_view{
     -fx-background-color: #AFEEEE;
}

.notes_view{
     -fx-background-color: #B0E0E6;
}

.flashcard_view{
     -fx-background-color: #87CEEB;
}

.text{
    -fx-fill: white;
}

.choice-box {
    -fx-background-color: dimgray;
    -fx-border-color: black;
    -fx-text-fill: black;
}

.choice-box:hover  {
    -fx-background-color: lightgrey;
}

.text-field {
    -fx-background-color: dimgray;
    -fx-border-color: black;
}

.text-field:hover {
    -fx-background-color: lightgrey;
}
