.school {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.work {
    -fx-background-color: pink;
    -fx-text-fill: white;
}

.other {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-border: none;
}

.button:hover {
    -fx-background-color: lightblue;
}

.background {
    -fx-background-color: turquoise;
}